#topstrap {
  float: left;
  background-color: #ddd;
  align-items: center;
  font-family: arial, helvetica, sans-serif;
  font-size: 10px;
  }
#primary {
  background-color: : #00ff00;
}
.containerspace {
  padding: 60px 15px 20px 0;
}
.topspace {
  padding: 0px 15px 0 120px;
}
